<header class="navbar navbar-expand navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <li *ngFor="let category of categories" class="nav-item active">
      <a class="nav-link">{{category.name}}</a>
    </li>
  </ul>
</header>
<div class="container-fluid">
  <div class="row pt-3">
    <div class="col-lg-8">
      <div class="row">
        <div *ngFor="let service of services" class="col-lg-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{service.title}}</h5>
              <p class="card-text">{{service.description}}</p>
            </div>
            <div class="card-footer px-2">
              <button class="btn btn-link" (click)="onSelectToEditService(service)">Editar</button>
              <button class="btn btn-link" (click)="onDeleteService(service.id)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Servicio</h5>
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="serviceForm.title">
          </div>
          <div class="form-group">
            <label>Descripción</label>
            <input type="text" class="form-control" [(ngModel)]="serviceForm.description">
          </div>
          <div class="form-group">
            <label>Categoría</label>
            <select class="custom-select" [(ngModel)]="serviceForm.category">
              <option selected="selected" disabled>Selecciona</option>
              <option *ngFor="let category of categories" [value]="category.id">
                {{category.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-success" (click)="onSaveForm()">Grabar</button>
          <button class="btn btn-outline-danger" (click)="onResetForm()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>